<div class="comments-container">
  <p class="comment"><%= comment.author.name %> : <%= comment.text %></p>


  <% if can? :destroy, comment %>
  <%= link_to "Delete", user_post_comment_path(@post.author.id, @post.id, comment.id), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  }
  %>
<% end %>

</div>